<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- STYLES -->
{% block stylesheets %}
{% endblock %}
    <!-- SCRIPTS -->
{% block scriptshead %}
{% endblock %}
  <!-- TITLE -->
  <title>Pokedex</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <!-- NAV -->
      <nav>
      </nav>
    </header>
    <!-- MAIN -->
    <main>
{% block main %}
{% endblock %}
    </main>
    <footer class="text-center bg-bordeaux text-light">
      {% block donate %}
      {% endblock %}
      <small>&copy;Thomate</small> | <small>All rights reserved.</small>
    </footer>
{% block javascripts %}
{% endblock %}
  </body>
</html>
